<div class="container" style="margin-top: 4%">
<h1 style="color: rgb(7, 29, 97) ; margin-top: 10px; font: size 200%"><b>{{title}}</b></h1>
<p style="color:rgb(9, 21, 56) ; font-size:larger"><b>Welcome to Podman based Group Coding Paltform with real-time video calling & chat feature</b></p>



<a href="/createTask" class="btn btn-primary">Create New Link</a>
<div style="width: 100%;">
    <form action="/createTask" method="post">
  <div class="form-group">
   
    <input type="text" class="form-control" id="groupCode" name="groupCode" placeholder="Enter Code">
  </div>
  
  <button type="submit" class="btn btn-primary">Join Link</button>
</form>
</div>

</div>